@model FighterView

@{
    Layout = "_DataTablesLayout";
    ViewData["Title"] = "Equipment Table";
}

@if (Model.AllEquipment.Count == 0)
{
    <h1 class="text-center">No equipment match that search.</h1>
}
else
{
    <div>
        <table class="table table-bordered">
            <tr class="text-center">
                <th></th>
                <th>Type</th>
                <th>Description</th>
                <th>Color</th>
                <th>Fighters That Use This</th>
                <th>Physical Damage</th>
                <th>Magic Damage</th>
                <th>Fire Damage</th>
                <th>Physical Defense</th>
                <th>Magic Defense</th>
                <th>Fire Defense</th>
                <th></th>
            </tr>
            @foreach (Equipment e in Model.AllEquipment)
            {
                <tr>
                    <th>@e.Name</th>
                    <td>@e.Type</td>
                    <td>@e.Description</td>
                    <td>@e.Color</td>
                    <td>
                        <select>
                            <option selected></option>
                            @foreach (Fighter f in Model.AllFighters)
                            {
                                foreach (string type in Logic.TypeValidation)
                                {
                                    if (f[type] == e)
                                    {
                                        <option disabled>@f.Name</option>
                                    }
                                }
                            }
                        </select>
                    </td>
                    <td>@e.PhysDam</td>
                    <td>@e.MagDam</td>
                    <td>@e.FireDam</td>
                    <td>@e.PhysDef</td>
                    <td>@e.MagDef</td>
                    <td>@e.FireDef</td>
                    <td><a asp-action="EquipmentDelete" asp-route-equipmentId="@e.EquipmentID" class="btn btn-primary">Delete</a></td>
                </tr>
            }
        </table>
    </div>
}