@model List<Fighter>

@{
    Layout = "_DataTablesLayout";
    ViewData["Title"] = "Fighter Table";
}

@if (Model.Count == 0)
{
    <h1 class="text-center">No fighters match that search.</h1>
}
else
{
    <div>
        <table class="table table-bordered">
            <tr>
                <th></th>
                <th>Description</th>
                <th>Color</th>
                <th>Equipment</th>
                <th>Physical Damage</th>
                <th>Magic Damage</th>
                <th>Fire Damage</th>
                <th>Physical Defense</th>
                <th>Magic Defense</th>
                <th>Fire Defense</th>
                <th>Wins</th>
                <th>Losses</th>
                <th></th>
            </tr>
            @foreach (Fighter f in Model)
            {
                <tr>
                    <th>@f.Name</th>
                    <td>@f.Description</td>
                    <td>@f.Color</td>
                    <td>
                        <select>
                            <option selected></option>
                            @foreach (string type in Logic.TypeValidation)
                            {
                                <option disabled>@type: @(f[type] != null ? f[type].Name : "None")</option>
                            }
                        </select>
                    </td>
                    <td>@f.TotalPhysDam</td>
                    <td>@f.TotalMagDam</td>
                    <td>@f.TotalFireDam</td>
                    <td>@f.TotalPhysDef</td>
                    <td>@f.TotalMagDef</td>
                    <td>@f.TotalFireDef</td>
                    <td>@f.Wins</td>
                    <td>@f.Losses</td>
                    <td><a asp-action="FighterDelete" asp-route-fighterId="@f.FighterID" class="btn btn-primary">Delete</a></td>
                </tr>
            }
        </table>
    </div>
}