@model Equipment

@{
    ViewData["Title"] = "Design Equipment";
    //"head", "chest", "gloves", "pants", "shoes", "ring", "rhand", "lhand"
    //"black", "white", "red", "orange", "yellow", "green", "skyBlue", "blue", "purple", "pink"

    if (Model == Logic.blankEquipment)
    {
        ViewBag.EquipmentStatus = "";
    }
}

<form asp-action="Save" method="post">
    <div class="card container">
        <div class="card-header">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h1 class="text-success">@ViewBag.EquipmentStatus</h1>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="Type">Type:</label>
                <select class="form-control" asp-for="Type">
                    @foreach (string type in Logic.TypeValidation)
                    {
                        if (type == Model.Type)
                        {
                            <option value="@type" selected>@type</option>
                        }
                        else
                        {
                            <option value="@type">@type</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Name">Name:</label>
                <input class="form-control" asp-for="Name" value="@Model.Name" />
            </div>
            <div class="form-group">
                <label asp-for="Description">Description:</label>
                <textarea class="form-control" rows="3" asp-for="Description">@Model.Description</textarea>
            </div>
            <div class="form-group">
                <label asp-for="Color">Color:</label>
                <select class="form-control" asp-for="Color">
                    @foreach (string color in Logic.ColorValidation)
                    {
                        if (color == Model.Color)
                        {
                            <option value="@color" selected>@color</option>
                        }
                        else
                        {
                            <option value="@color">@color</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PhysDam">Physical Attack:</label>
                <input class="form-control" asp-for="PhysDam" value="@Model.PhysDam" />
            </div>
            <div class="form-group">
                <label asp-for="MagDam">Magic Attack:</label>
                <input class="form-control" asp-for="MagDam" value="@Model.MagDam" />
            </div>
            <div class="form-group">
                <label asp-for="FireDam">Fire Attack:</label>
                <input class="form-control" asp-for="FireDam" value="@Model.FireDam" />
            </div>
            <div class="form-group">
                <label asp-for="PhysDef">Physical Defence:</label>
                <input class="form-control" asp-for="PhysDef" value="@Model.PhysDef" />
            </div>
            <div class="form-group">
                <label asp-for="MagDef">Magic Defence:</label>
                <input class="form-control" asp-for="MagDef" value="@Model.MagDef" />
            </div>
            <div class="form-group">
                <label asp-for="FireDef">Fire Defence:</label>
                <input class="form-control" asp-for="FireDef" value="@Model.FireDef" />
            </div>
        </div>
        <div class="card-footer row">
            <div class="col-2"></div>
            <button class="btn btn-secondary text-center col-8" type="submit"><h6>Save</h6></button>
            <div class="col-2"></div>
        </div>
    </div>
</form>