@model FighterView

@{
    ViewData["Title"] = "Build a Figher";
    //{ "Head", "Chest", "Gloves", "Pants", "Shoes", "Ring", "Right Hand", "Left Hand" }

    string hidden = "hidden";
    if (Model.Duplicate)
    {
        hidden = "";
    }
    string pic = Logic.GenerateFighterPic(Model.Fighter);
    string[] pics = new string[Logic.TypeValidation.Count()];
    for (int i = 0; i < pics.Count(); i++)
    {
        if (Model.Fighter.FighterID == 0
            || Model.Fighter[Logic.TypeValidation[i]] == null
            || Model.Fighter[Logic.TypeValidation[i]].EquipmentID == 0) 
        {
            string type = "";

            if (Logic.TypeValidation[i] == "Right Hand")
            {
                type += "Sword";
            }
            else if (Logic.TypeValidation[i] == "Left Hand")
            {
                type += "Shield";
            }
            else
            {
                type += Logic.TypeValidation[i];
            }
            pics[i] = type + "Blank.jpg";
        }
        else
        {
            pics[i] = Logic.GenerateEquipmentPic(Model.Fighter[Logic.TypeValidation[i]]);
        }
    }

    if (Model.Fighter.FighterID == 0)
    {
        pic = "FighterBlank.jpg";
    }
}

<form asp-action="Edit" method="post">
    <div class="card container">
        <div class="row">
            <div class="col-1"></div>
            <button class="col-4 btn btn-primary btn-lg" type="submit">Edit Existing</button>
            <div class="col-2"></div>
            <a class="col-4 btn btn-primary btn-lg" asp-action="Index">Create New</a>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4 form-group">
                <select class="form-control" name="id">
                    @foreach (Fighter f in Model.AllFighters)
                    {
                        <option value="@f.FighterID">@f.Name</option>
                    }
                </select>
            </div>
            <div class="col-7"></div>
        </div>
    </div>
</form>

<form asp-action="Save" method="post">
    <div class="card container">
        <div class="card-header">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h1 class="text-success">@Model.FighterStatus</h1>
            <ul class="@hidden">
                <li class="text-danger">You've already created a fighter named @Model.Fighter.Name.</li>
            </ul>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="Fighter.FighterID" value="@Model.Fighter.FighterID" />
            <div class="form-group">
                <label asp-for="Fighter.Name">Name:</label>
                <input class="form-control" asp-for="Fighter.Name" value="@Model.Fighter.Name" />
            </div>
            <div class="form-group">
                <label asp-for="Fighter.Description">Description:</label>
                <textarea class="form-control" rows="3" asp-for="Fighter.Description">@Model.Fighter.Description</textarea>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="Fighter.Color">Color:</label>
                        <select class="form-control" asp-for="Fighter.Color">
                            @foreach (string color in Logic.ColorValidation)
                            {
                                if (color == Model.Fighter.Color)
                                {
                                    <option value="@color" selected>@color</option>
                                }
                                else
                                {
                                    <option value="@color">@color</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-9"></div>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="form-group">
                        <label>Physical Attack:</label>
                        <input class="form-control" value="@Model.Fighter.TotalPhysDam" readonly />
                    </div>
                    <div class="form-group">
                        <label>Magic Attack:</label>
                        <input class="form-control" value="@Model.Fighter.TotalMagDam" readonly />
                    </div>
                    <div class="form-group">
                        <label>Fire Attack:</label>
                        <input class="form-control" value="@Model.Fighter.TotalFireDam" readonly />
                    </div>
                    <div class="form-group">
                        <label>Physical Defense:</label>
                        <input class="form-control" value="@Model.Fighter.TotalPhysDef" readonly />
                    </div>
                    <div class="form-group">
                        <label>Magic Defense:</label>
                        <input class="form-control" value="@Model.Fighter.TotalMagDef" readonly />
                    </div>
                    <div class="form-group">
                        <label>Fire Defense:</label>
                        <input class="form-control" value="@Model.Fighter.TotalFireDef" readonly />
                    </div>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-5"></div>
                        <div class="col-2">
                            <img class="fit" src="~/Images/@pics[0]" alt="Fighter Picture" />
                            <select class="form-control" name="head">
                                <option value="-1">None</option>
                                @foreach (Equipment e in Model.AllEquipment)
                                {
                                    if (e.Type == "Head")
                                    {
                                        if (Model.Fighter["Head"] != null && e.EquipmentID == Model.Fighter["Head"].EquipmentID)
                                        {
                                            <option value="@e.EquipmentID" selected>@e.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@e.EquipmentID">@e.Name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-5"></div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-2">
                            <div class="row">
                                <img class="fit-small" src="~/Images/@pics[1]" alt="Fighter Picture" />
                                <select class="form-control" name="chest">
                                    <option value="-1">None</option>
                                    @foreach (Equipment e in Model.AllEquipment)
                                    {
                                        if (e.Type == "Chest")
                                        {
                                            if (Model.Fighter["Chest"] != null && e.EquipmentID == Model.Fighter["Chest"].EquipmentID)
                                            {
                                                <option value="@e.EquipmentID" selected>@e.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@e.EquipmentID">@e.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="row">
                                <img class="fit-small" src="~/Images/@pics[7]" alt="Fighter Picture" />
                                <select class="form-control" name="lHand">
                                    <option value="-1">None</option>
                                    @foreach (Equipment e in Model.AllEquipment)
                                    {
                                        if (e.Type == "Left Hand")
                                        {
                                            if (Model.Fighter["Left Hand"] != null && e.EquipmentID == Model.Fighter["Left Hand"].EquipmentID)
                                            {
                                                <option value="@e.EquipmentID" selected>@e.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@e.EquipmentID">@e.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="row">
                                <img class="fit-small" src="~/Images/@pics[3]" alt="Fighter Picture" />
                                <select class="form-control" name="pants">
                                    <option value="-1">None</option>
                                    @foreach (Equipment e in Model.AllEquipment)
                                    {
                                        if (e.Type == "Pants")
                                        {
                                            if (Model.Fighter["Pants"] != null && e.EquipmentID == Model.Fighter["Pants"].EquipmentID)
                                            {
                                                <option value="@e.EquipmentID" selected>@e.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@e.EquipmentID">@e.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-4">
                            <img class="fit" src="~/Images/@pic" alt="Fighter Picture" />
                        </div>
                        <div class="col-1"></div>
                        <div class="col-2">
                            <div class="row">
                                <img class="fit-small" src="~/Images/@pics[2]" alt="Fighter Picture" />
                                <select class="form-control" name="gloves">
                                    <option value="-1">None</option>
                                    @foreach (Equipment e in Model.AllEquipment)
                                    {
                                        if (e.Type == "Gloves")
                                        {
                                            if (Model.Fighter["Gloves"] != null && e.EquipmentID == Model.Fighter["Gloves"].EquipmentID)
                                            {
                                                <option value="@e.EquipmentID" selected>@e.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@e.EquipmentID">@e.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="row">
                                <img class="fit-small" src="~/Images/@pics[6]" alt="Fighter Picture" />
                                <select class="form-control" name="rHand">
                                    <option value="-1">None</option>
                                    @foreach (Equipment e in Model.AllEquipment)
                                    {
                                        if (e.Type == "Right Hand")
                                        {
                                            if (Model.Fighter["Right Hand"] != null && e.EquipmentID == Model.Fighter["Right Hand"].EquipmentID)
                                            {
                                                <option value="@e.EquipmentID" selected>@e.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@e.EquipmentID">@e.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="row">
                                <img class="fit-small" src="~/Images/@pics[5]" alt="Fighter Picture" />
                                <select class="form-control" name="ring">
                                    <option value="-1">None</option>
                                    @foreach (Equipment e in Model.AllEquipment)
                                    {
                                        if (e.Type == "Ring")
                                        {
                                            if (Model.Fighter["Ring"] != null && e.EquipmentID == Model.Fighter["Ring"].EquipmentID)
                                            {
                                                <option value="@e.EquipmentID" selected>@e.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@e.EquipmentID">@e.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-5"></div>
                        <div class="col-2">
                            <img class="fit" src="~/Images/@pics[4]" alt="Fighter Picture" />
                            <select class="form-control" name="shoes">
                                <option value="-1">None</option>
                                @foreach (Equipment e in Model.AllEquipment)
                                {
                                    if (e.Type == "Shoes")
                                    {
                                        if (Model.Fighter["Shoes"] != null && e.EquipmentID == Model.Fighter["Shoes"].EquipmentID)
                                        {
                                            <option value="@e.EquipmentID" selected>@e.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@e.EquipmentID">@e.Name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-5"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer row">
            <div class="col-2"></div>
            <button class="btn btn-secondary text-center col-8" type="submit"><h6>Save</h6></button>
            <div class="col-2"></div>
        </div>
    </div>
</form>